       /* Add your CSS styling here */
       body {
        display: flex;
        overflow-x: hidden; /* Only horizontal scrolling is disabled */
        height: 100%; /* Full height to the body might be necessary */
    }

    .sidebar {
        height: 100vh;
        /* Full height */
        width: 250px;
        /* Sidebar width */
        position: fixed;
        /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #1C4192;
        /* Black */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 20px;
    }

    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .main-content {
        margin-left: 250px;
        /* Same as the width of the sidebar */
        padding: 0px 10px;
    }

    .sidebar .authenticated-links {
        padding-left: 20px;
        /* Add left padding to indent the links */
    }
    .sponsor {
        margin-top: 100px
    }