.player-goal-entry {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 15px;
}
.player-goal-entry label, .player-goal-entry input {
    /* margin-right: 10px; */
    text-align: center;
}