.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 300px;
}
.column {
    display: flex;
    flex-direction: column;
    font-size: 26px;
}
.team, .group {
    margin: 5px 0;
    font-size: 20px;
}