.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 300px;
}
.column {
    display: flex;
    flex-direction: column;
    font-size: 28px;
}
.team, .group {
    margin: 5px 0;
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
}

.team highlight {
    font-weight: bold;
}

.grid-container .column .group.highlight {
    font-weight: bold;
    color: white;
}
