.matches-container {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Ensure the container takes full width */
}


.match-entry-link {
    text-decoration: none;
    color: inherit;
}

.match-entry-link:hover .match-entry {
    background-color: #ececec;
    text-decoration: none;
}

.match-entry {
    display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr; /* Adjust this based on your content needs */
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Adds a horizontal border between rows */
    transition: background-color 0.3s ease;
}

.match-date, .match-time, .match-pitch, .match-teams, .match-status {
    padding: 0 10px; /* Adds padding for better spacing */
}

.match-score {
    text-align: center;  /* Centers the score horizontally within its cell */
    flex-grow: 1;        /* Allows the score cell to expand if needed */
    display: flex;       /* Use flexbox within the cell for vertical centering */
    align-items: center; /* Vertically centers the content within the cell */
    justify-content: center; /* Horizontally centers the flex items */
}

.match-home, .match-vs, .match-away {
    margin: 0 5px; /* Adds margin within the teams container */
}

.match-teams {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures team names are aligned to the left */
}

.match-status {
    text-align: right; /* Aligns the status to the right */
}

.status-concluded {
    color: green;
}

.status-scheduled {
    color: orange;
}

.goal-scorer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.scorer-name {
    margin-right: 10px;
}

.scorer-goals .goal-ball {
    height: 20px;
    margin-right: 5px; /* Space between each ball icon */
}
