.content-grid {
    display: grid;
    grid-template-columns: 2fr 5fr; /* Increased left side space, decreased right side */
    gap: 20px;
    align-items: start;
}
.highlight {
    background-color: #1aa538; /* Light green background for highlighting */
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th.team-name, td.team-name {
    width: 30%;
}

th, td {
    width: 17.5%; /* This might need adjustment if it causes visual inconsistency */
}

.knockout-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure it's taking full width or adjust as necessary */
}

.round {
    margin-bottom: 20px;
}

.matchup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; /* Increased horizontal padding for a roomier layout */
    margin-bottom: 30px; /* Adds more vertical space between each matchup */
}

.matchup span {
    text-align: center;
    margin: 0 1%; /* Reduced margin for a more compact layout */
}

/* Adjustments for different spans to better manage space */
.matchup span:nth-child(1), /* Home team name */
.matchup span:nth-child(3) { /* Away team name */
    flex: 3; /* Allocates three times more space than the scores and 'vs' text */
    padding-right: 10px; /* Adds padding to separate from scores and 'vs' */
}

.matchup span:nth-child(4) { /* Score */
    flex: 1; /* Assigns minimal flexible space for scores */
    min-width: 80px; /* Adjusts minimum width to ensure visibility */
    font-weight: bold; /* Emphasizes the score */
}

.matchup span:nth-child(2) { /* 'vs' text */
    flex: 0.5; /* Minimal flexible space to keep 'vs' compact */
    min-width: 30px; /* Ensures 'vs' has enough space and does not get squeezed */
    padding: 0 5px; /* Adjusts padding for spacing */
}

.next-turn {
    font-weight: bold;
}