.content-grid {
    display: grid;
    grid-template-columns: 0.8fr 2.4fr 0.8fr; /* Colonna centrale più ampia */
    gap: 60px;
    align-items: start;
    font-size: 16px;
    max-width: 1600px; /* più larghezza massima */
    margin: 0 auto;
    padding: 0 60px; /* più spazio laterale */
}

.highlight {
    background-color: #a9c191;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    height: 30px;
}

th.team-name, td.team-name {
    width: 30%;
}

th.col-pos, td.col-pos {
    width: 5%;
    text-align: center;
}

th.col-player, td.col-player {
    width: 30%;
    text-align: left;
}

th.col-team, td.col-team {
    width: 30%;
    text-align: left;
}

th.col-stat, td.col-stat {
    width: 10%;
    text-align: center;
}

.knockout-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.knockout-schedule .stage {
    font-size: 22px;
    margin: 40px 0 20px;
}

.round {
    margin-bottom: 20px;
}

.knockout-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 50px;
    border-spacing: 0;
    table-layout: fixed;
}

.knockout-table td {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.00);
    vertical-align: middle;
    white-space: normal; /* Consente l'andata a capo */
    word-wrap: break-word; /* Supporta il wrapping delle parole lunghe */
}

.knockout-table .team-name-home {
    text-align: right;
    font-weight: 500;
    width: 35%;
}

.knockout-table .vs {
    text-align: center;
    font-weight: 400;
    width: 10%;
    color: #888;
}

.knockout-table .team-name-away {
    text-align: left;
    font-weight: 500;
    width: 35%;
}

.knockout-table .score {
    text-align: left;
    font-weight: bold;
    width: 20%;
}

.knockout-table.podium td {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 0;
    background: none;
    width: 100%;
}

.next-turn {
    font-weight: bold;
}

.knockout-schedule:nth-child(2) {
    border: none;
    padding: 0;
}

.knockout-table.podium tr:nth-child(1) td::before {
    content: "🥇 ";
}

.knockout-table.podium tr:nth-child(2) td::before {
    content: "🥈 ";
}

.knockout-table.podium tr:nth-child(3) td::before {
    content: "🥉 ";
}