.teams-container {
    display: grid;
    gap: 10px; /* Space between grid items */
    padding: 5px; /* Padding around the entire grid container */
    grid-template-columns: repeat(4, 1fr); /* Creates six columns */
    grid-template-rows: repeat(4, 1fr);
}

.team-card {
    background: transparent;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Ensures content flows vertically */
    width: 100%;
    box-sizing: border-box;
}

.team-card h3 {
    word-break: break-word; /* Evita overflow */
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8CAF71;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 10px;
    white-space: normal
}

.team-card ul {
    list-style-type: none;
    padding: 5px 5px;
    margin: 0; /* Aligns the start of the list with the team name */
}

.team-card li {
    padding: 5px 0; /* Vertical padding for each list item */
}

.team-card li:last-child {
    border-bottom: none; /* Removes the border from the last item for cleanliness */
}

@media (max-width: 768px) {
    .teams-container {
        grid-template-columns: repeat(2, 1fr); /* Una sola colonna su mobile */
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .teams-container {
        grid-template-columns: repeat(2, 1fr); /* Due colonne su tablet */
    }
}