<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CopaMundial 2025{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    <div class="sidebar">
        <div class="link-section">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'team_and_player_list' %}">SQUADRE</a>
            <a href="{% url 'match_schedule' %}">PARTITE</a>
            <a href="{% url 'ranking' %}">CLASSIFICHE</a>
            <a href="{% url 'document_list' %}">DOWNLOADS</a>
            <a href="{% url 'login' %}?next={{ request.path }}">AREA RISERVATA</a>
            {% if user.is_authenticated %}
            <div class="authenticated-links">
                <a href="{% url 'manage_teams' %}">Gestione Squadre</a>
                <a href="{% url 'manage_matches' %}">Gestione Partite</a>
                <a href="{% url 'group_draw' %}">Sorteggio</a>
                <a href="#"
                    onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            </div>
            {% endif %}
        </div>
        <div class="sponsor">
            <div class="sponsor-title">
                GLI AMICI DELLA COPAMUNDIAL
            </div>
            <div class="sponsor-logos">
                <a href="https://www.selosdesign.com/" target="_blank" class="logo-box">
                    <img src="{% static 'images/selos.png' %}" alt="Selos">
                </a>
                <a href="#" class="logo-box">  <!-- prima era un <div> -->
                    <img src="{% static 'images/il_legno_per_voi.png' %}" alt="Il legno per voi dal 1984" class="logo-legno">
                </a>
                <a href="https://www.instagram.com/dementosofficial/" target="_blank" class="logo-box">
                    <img src="{% static 'images/dementos.png' %}" alt="Dementos">
                </a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <main>
            {% block content %}
            {% endblock content %}
            {% block extra_js %}
            {% endblock %}
        </main>

        <div class="footer">

        </div>
    </div>

</body>

</html>