{% extends 'tournament/base.html' %}
{% load i18n %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>{% trans "Edit Match Details" %}</h2>
    {{ match_form.as_p }}

    <h2>{% trans "Home Team Goals" %}</h2>
    {% for field in home_goals_form %}
        <div class="player-goal-entry">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}

    <h2>{% trans "Away Team Goals" %}</h2>
    {% for field in away_goals_form %}
        <div class="player-goal-entry">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit">{% trans "Save Changes" %}</button>
</form>

<style>
    .player-goal-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    .player-goal-entry label, .player-goal-entry input {
        margin-right: 10px;
    }
</style>
{% endblock %}
