{% extends 'tournament/base.html' %}

{% load static %}  <!-- This should be at the very top of the file -->

{% block title %}Home - CopaMundial 2024{% endblock title %}

{% block content %}
    <h2>Benvenuti nel sito della CopaMundial 2024</h2>
    <p>Qui potete rimanere aggiornati sulle prossimi sfide, risultati e marcatori.</p>
    <p><b>Quando</b>: 5 Giugno 2024 - 5 Luglio 2024</p>
    <p><b>Dove</b>: Sport Live - Viale Della Stazione, 17, 20010, Santo Stefano Ticino </p>
    <img src="{% static 'map.png' %}" alt="Welcome Image">
    <p><b>Cosa ci sarà</b>: 12 squadre, 17 partite, interviste, premi e tante altre sorprese</p>

{% endblock content %}
