<!-- templates/tournament/match_schedule.html -->
{% extends 'tournament/base.html' %} <!-- Assuming you have a base template -->
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/manage_tournament.css' %}?v=1">

<form class="end-group-button" action="{% url 'end_group' %}" method="post">
    {% csrf_token %}
    <!-- <button type="submit" {% if not context.group_all_validated %}disabled="disabled"{% endif %}>Termina fase a gironi</button> -->
    <button type="submit">Termina fase a gironi</button>
</form>
<form class="end-group-button" action="{% url 'end_quarterfinals' %}" method="post">
    {% csrf_token %}
    <button type="submit" {% if not context.quarterfinals_all_validated %}disabled="disabled"{% endif %}>Termina quarti</button>
</form>
<form class="end-group-button" action="{% url 'end_semifinals' %}" method="post">
    {% csrf_token %}
    <button type="submit"  {% if not context.semifinals_all_validated %}disabled="disabled"{% endif %}>Termina semifinali</button>
</form>
<form class="end-group-button" action="{% url 'end_finals' %}" method="post">
    {% csrf_token %}
    <button type="submit"  {% if not context.finals_all_validated %}disabled="disabled"{% endif %}>Termina finali</button>
</form>
{% endblock %}