{% extends 'tournament/base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/match_detail.css' %}">
{% endblock %}

{% block content %}

<h2>Dettagli Partita</h2>
<div class="match-details">
    <div class="team-info-container">
        <!-- Team 1 Info -->
        <div class="team-info">
            <div class="team-header">
                <h3>{{ match.home_team.name }}</h3>
            </div>
            <div class="score">{{ match.score_home_team }}</div>
            {% for goal in home_goals %}
            <div class="goal-scorer">
                {{ goal.player.name }} <span>{{ goal.total_goals | make_balls }}</span>
            </div>
            {% endfor %}
        </div>
        
        <!-- Versus Dash -->
        <div class="versus">vs</div>
        
        <!-- Team 2 Info -->
        <div class="team-info">
            <div class="team-header">
                <h3>{{ match.away_team.name }}</h3>
            </div>
            <div class="score">{{ match.score_away_team }}</div>
            {% for goal in away_goals %}
            <div class="goal-scorer">
                {{ goal.player.name }} <span>{{ goal.total_goals | make_balls }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
