{% extends 'tournament/base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/match_detail.css' %}">
{% endblock %}

{% block content %}
<h3>Risultato e Marcatori</h3>
<div class="match-container">
    <div class="team-name-home">
        {{ match.home_team.name }}
        <div class="goal-scorer-home">
            {% for scorer in home_goals %}
                <div class="goal-scorer">
                    {{ scorer.player.surname }} {{1 | make_balls}} ({{scorer.total_goals}})
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="score">{{ match.score_home_team }} - {{ match.score_away_team }}</div>
    
    <div class="team-name-away">
        {{ match.away_team.name }}
        <div class="goal-scorer-away">
            {% for scorer in away_goals %}
            <div class="goal-scorer">
                {{ scorer.player.surname }} {{1 | make_balls}}({{scorer.total_goals}})
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

