{% extends 'tournament/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/ranking.css' %}?v=9">
{% endblock %}

{% block content %}
<div class="content-grid">
    <!-- Column 1: Group Rankings -->
    <div class="knockout-schedule knockout-central">
        <h2 class="stage">Classifiche</h2>
        {% if not drawing_done %}
        <div class="alert">
            <p>Il sorteggio dei gruppi non è ancora stato fatto. Ritorna più tardi.</p>
        </div>
        {% else %}
        {% for group_name, teams in sorted_groups.items %}
        <h3 class="stage">{{ group_name }}</h3>
        <table>
            <tr>
                <th class="team-name">Squadra</th>
                <th>Punti</th>
                <th><span class="title-desktop">Goal Fatti</span><span class="title-mobile">GF</span></th>
                <th><span class="title-desktop">Goal Subiti</span><span class="title-mobile">GS</span></th>
                <th><span class="title-desktop">Differenza Reti</span><span class="title-mobile">DR</span></th>
                            </tr>
            {% for team in teams %}
            <tr class="{% if team.team_name in context.qualified_team_names %}highlight{% endif %}">
                <td class="team-name">{{ team.team_name }}</td>
                <td>{{ team.points }}</td>
                <td>{{ team.goals_scored }}</td>
                <td>{{ team.goals_conceded }}</td>
                <td>{{ team.goal_difference }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Column 2: Knockout Phase -->
    {% if drawing_done %}
    <div class="knockout-schedule">
        <h2 class="stage">Fase ad Eliminazione</h2>
    
        <h3 class="stage">Quarti di Finale</h3>
        <table class="knockout-table">
            {% for match in context.quarterfinals_matches %}
            <tr>
                <td class="team-name">{{ match.home_team.name }}</td>
                <td class="vs">vs</td>
                <td class="team-name">{{ match.away_team.name }}</td>
                <td class="score">{{ match.score_home_team }} - {{ match.score_away_team }}</td>
            </tr>
            {% endfor %}
        </table>
    
        <h3 class="stage">Semifinali</h3>
        <table class="knockout-table">
            {% for match in context.semifinals_matches %}
            <tr>
                <td class="team-name">{{ match.home_team.name }}</td>
                <td class="vs">vs</td>
                <td class="team-name">{{ match.away_team.name }}</td>
                <td class="score">{{ match.score_home_team }} - {{ match.score_away_team }}</td>
            </tr>
            {% endfor %}
        </table>
    
        {% if context.finals_matches|length == 0 %}
            <h3 class="stage">Finale 3-4</h3>
            <h3 class="stage">Finale 1-2</h3>
        {% else %}
            {% for match in context.finals_matches %}
            <h3 class="stage">{{ match.group }}</h3>
            <table class="knockout-table">
                <tr>
                    <td class="team-name">{{ match.home_team.name }}</td>
                    <td class="vs">vs</td>
                    <td class="team-name">{{ match.away_team.name }}</td>
                    <td class="score">{{ match.score_home_team }} - {{ match.score_away_team }}</td>
                </tr>
            </table>
            {% endfor %}
        {% endif %}
    
        <h3 class="stage">Podio</h3>
        <table class="knockout-table podium">
          {% for team in context.winners %}
          <tr>
            <td colspan="4">{{ team.name }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
    {% endif %}

    <!-- Column 3: Goal Scorers and MVPs -->
    {% if drawing_done %}
    <div class="knockout-schedule">
        <h2>Classifiche Giocatori</h2>
        <h3>Classifica Marcatori</h2>
        <table>
            <tr>
                <th class="col-pos">Posizione</th>
                <th class="col-player">Giocatore</th>
                <th class="col-team">Squadra</th>
                <th class="col-stat">Goal</th>
            </tr>
            {% for scorer in top_scorers %}
            <tr>
                <td class="col-pos">{{ forloop.counter }}</td>
                <td class="col-player">{{ scorer.surname }}</td>
                <td class="col-team">{{ scorer.team.name }}</td>
                <td class="col-stat">{{ scorer.total_goals }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Classifica MVP</h2>
        <table>
            <tr>
                <th class="col-pos">Posizione</th>
                <th class="col-player">Giocatore</th>
                <th class="col-team">Squadra</th>
                <th class="col-stat">MVP</th>
            </tr>
            {% for mvp in mvp_ranking %}
            <tr>
                <td class="col-pos">{{ forloop.counter }}</td>
                <td class="col-player">{{ mvp.surname }}</td>
                <td class="col-team">{{ mvp.team.name }}</td>
                <td class="col-stat">{{ mvp.mvp_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
