{% extends 'tournament/base.html' %}
{% load static%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/team_and_player_list.css' %}">
{% endblock %}

{% block content %}
<h2>Rose</h2>
<table>
    <thead>
        <tr>
            <th></th> <!-- For player number/position -->
            {% for team in teams %}
            <th>{{ team.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in player_rows %}
        <tr>
            <td>{{ forloop.counter }}</td> <!-- Player number/position -->
            {% for player in row %}
            <td>{% if player %}{{ player.surname}} {{player.name }}{% else %}N/A{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}