{% extends 'tournament/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/team_and_player_list.css' %}">
{% endblock %}

{% block content %}
<h2>Squadre</h2>
<div class="teams-container">
    {% for team in teams %}
    <div class="team-card">
        <h3>{{ team.name }}</h3>
        <ul>
            {% for player in team.players.all %}
            <li>{{ player.surname }} {{ player.name }}</li>
            {% empty %}
            <li>No players listed.</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
